nav.navbar-top, body {
  padding: 0;
  border: 0;
  margin: 0; }

nav.navbar-top {
  height: 4.3em;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #424242;
  z-index: 10000;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }
  nav.navbar-top a, nav.navbar-top a:link, nav.navbar-top a:hover, nav.navbar-top a:visited {
    text-decoration: none;
    color: #BCBCBC; }
  nav.navbar-top .navbar-header {
    float: left;
    width: 300px;
    height: 6.6em;
    padding: 1em 1.4em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 800px) {
      nav.navbar-top .navbar-header {
        float: none;
        width: 100%;
        top: 0;
        position: absolute; } }
    nav.navbar-top .navbar-header .navbar-item-info {
      height: 100%;
      cursor: pointer; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-header .navbar-item-info {
          float: left; } }
      nav.navbar-top .navbar-header .navbar-item-info a {
        position: relative;
        display: block;
        clear: both; }
        nav.navbar-top .navbar-header .navbar-item-info a .author-picture {
          float: left;
          width: 5em;
          height: 5em;
          border: 0.3em solid black;
          -webkit-border-radius: 5em;
          -moz-border-radius: 5em;
          border-radius: 5em;
          background-image: url("../../img/author-picture.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 5em;
          display: inline-block; }
        nav.navbar-top .navbar-header .navbar-item-info a .author-name {
          float: left;
          font-size: 1.9em;
          font-weight: bold;
          margin-top: 5px;
          margin-left: 10px;
          vertical-align: top;
          display: inline-block; }
        nav.navbar-top .navbar-header .navbar-item-info a.selected, nav.navbar-top .navbar-header .navbar-item-info a:hover {
          color: #3299BB; }
          nav.navbar-top .navbar-header .navbar-item-info a.selected .author-name, nav.navbar-top .navbar-header .navbar-item-info a:hover .author-name {
            text-shadow: 0px 1px 1px #222; }
          nav.navbar-top .navbar-header .navbar-item-info a.selected .author-picture, nav.navbar-top .navbar-header .navbar-item-info a:hover .author-picture {
            border-color: #22687f;
            -webkit-box-shadow: 0px 1px 1px 1px #222;
            -moz-box-shadow: 0px 1px 1px 1px #222;
            box-shadow: 0px 1px 1px 1px #222; }
    nav.navbar-top .navbar-header .navbar-menu {
      font-size: 18px;
      padding: 0.15em;
      color: #BCBCBC;
      display: none;
      cursor: pointer; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-header .navbar-menu {
          float: right;
          display: block; } }
  nav.navbar-top .navbar-list {
    width: auto;
    padding-right: 1.4em;
    margin-left: 300px; }
    @media screen and (min-width: 800px) {
      nav.navbar-top .navbar-list.collapsed {
        max-height: none;
        padding: inherit;
        overflow-y: auto;
        opacity: 1; } }
    @media screen and (max-width: 800px) {
      nav.navbar-top .navbar-list {
        width: 100%;
        padding: 3em 1.4em 1em;
        margin-top: 4.3em;
        margin-left: 0;
        background-color: #828282;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 9999; }
        nav.navbar-top .navbar-list.collapsed {
          padding-top: 0;
          padding-bottom: 0; } }
    nav.navbar-top .navbar-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-list ul {
          flex-direction: column;
          align-items: flex-start; } }
      nav.navbar-top .navbar-list ul.navbar-items-left {
        float: left;
        justify-content: flex-start; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul.navbar-items-left {
            float: none;
            align-content: flex-start; } }
      nav.navbar-top .navbar-list ul.navbar-items-right {
        float: right;
        justify-content: flex-end; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul.navbar-items-right {
            float: none;
            align-content: flex-end; } }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-list ul > navbar-item {
          width: 100%; }
          nav.navbar-top .navbar-list ul > navbar-item:last-child {
            border: 0; } }
      nav.navbar-top .navbar-list ul li {
        margin: 0;
        flex-grow: 1;
        align-self: center;
        cursor: pointer; }
        nav.navbar-top .navbar-list ul li a {
          font-weight: bold;
          line-height: 1em;
          padding: 0 1em;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        nav.navbar-top .navbar-list ul li.navbar-item-info a:hover, nav.navbar-top .navbar-list ul li.navbar-item-info a.selected {
          color: transparent;
          text-shadow: 0px 1px 1px #222; }
        nav.navbar-top .navbar-list ul li.navbar-item-experience a:hover, nav.navbar-top .navbar-list ul li.navbar-item-experience a.selected {
          color: #1abc9c;
          text-shadow: 0px 1px 1px #222; }
        nav.navbar-top .navbar-list ul li.navbar-item-education a:hover, nav.navbar-top .navbar-list ul li.navbar-item-education a.selected {
          color: #e74c3c;
          text-shadow: 0px 1px 1px #222; }
        nav.navbar-top .navbar-list ul li.navbar-item-projects a:hover, nav.navbar-top .navbar-list ul li.navbar-item-projects a.selected {
          color: #e67e22;
          text-shadow: 0px 1px 1px #222; }
        nav.navbar-top .navbar-list ul li.navbar-item-linkedin a:hover, nav.navbar-top .navbar-list ul li.navbar-item-linkedin a.selected {
          color: #007bb6;
          text-shadow: 0px 1px 1px #222; }
        nav.navbar-top .navbar-list ul li.navbar-item-lang a:hover, nav.navbar-top .navbar-list ul li.navbar-item-lang a.selected {
          color: transparent;
          text-shadow: 0px 1px 1px #222; }
        nav.navbar-top .navbar-list ul li.navbar-item-about a:hover, nav.navbar-top .navbar-list ul li.navbar-item-about a.selected {
          color: #f1c40f;
          text-shadow: 0px 1px 1px #222; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul li a {
            font-size: 1.5em;
            width: 100%;
            padding: 1em; }
            nav.navbar-top .navbar-list ul li a:hover, nav.navbar-top .navbar-list ul li a.selected {
              background-color: #757575; } }
  @media screen and (min-width: 800px) {
    nav.navbar-top .navbar-list, nav.navbar-top ul {
      height: 100%; } }
  @media print {
    nav.navbar-top {
      display: none; } }

main {
  font-size: 1.1em;
  max-width: 700px;
  min-height: 100vh;
  padding: 4.3em 1.5em 3.1em;
  margin: 0 auto;
  background: #FFF;
  position: relative;
  -webkit-box-shadow: 0 0 6px 6px #DDD;
  -moz-box-shadow: 0 0 6px 6px #DDD;
  box-shadow: 0 0 6px 6px #DDD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /**
   * GENERIC FIELDS
   *********************************************/
  /**
   * ICONS
   *********************************************/
  /**
   * SECTIONS
   *********************************************/
  /**
   * INFO SECTION
   *********************************************/ }
  main a, main a:link, main a:hover, main a:visited {
    text-decoration: none;
    color: #0077b5; }
  main section > *:first-child {
    margin-top: 2em; }
  main h2 {
    font-size: 1.6em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  main h3 {
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  main span {
    font-size: inherit; }
  main text {
    display: block; }
  main form {
    width: 100%;
    padding: 0.5em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    main form label {
      font-weight: bold;
      margin-bottom: 0.4em; }
      main form label.full-line {
        display: block; }
        main form label.full-line:after {
          content: ":"; }
    main form input[type=text], main form input[type=checkbox] {
      margin-bottom: 1em; }
    main form input[type=text] {
      width: 70%;
      padding: 0.5em;
      outline: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  main .fa.fa-facebook-square {
    color: #3b5998; }
  main .fa.fa-github-square {
    color: #000; }
  main .fa.fa-google-plus-square {
    color: #dd4b39; }
  main .fa.fa-linkedin-square {
    color: #007bb6; }
  main .flag {
    width: 48px;
    height: 48px;
    display: inline-block; }
    main .flag.flag-pt {
      background-image: url("../../img/flags/pt.png");
      background-position: center center;
      background-repeat: no-repeat; }
    main .flag.flag-en {
      background-image: url("../../img/flags/en.png");
      background-position: center center;
      background-repeat: no-repeat; }
  main .section-simple-hlist, main .section-boxes-hlist {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    main .section-simple-hlist > .list-item, main .section-boxes-hlist > .list-item {
      padding: 0.5em 1.5em;
      display: inline-block; }
  main .section-simple-vlist {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    main .section-simple-vlist > .list-item {
      padding: 1em 0.5em;
      display: block; }
      main .section-simple-vlist > .list-item h3 {
        margin-top: 0; }
      main .section-simple-vlist > .list-item .right img {
        max-width: 10em;
        max-height: 3em; }
      main .section-simple-vlist > .list-item p:last-child {
        margin-bottom: 0; }
  main .section-boxes-hlist > .list-item {
    padding: 0.5em;
    margin: 0.5em; }
  main .section-boxes-hlist > .section-list-more {
    text-align: center;
    border: 1px solid #DDD;
    background-color: #EEE;
    color: #888;
    cursor: pointer; }
    main .section-boxes-hlist > .section-list-more .section-boxes-hlist {
      overflow: hidden; }
      main .section-boxes-hlist > .section-list-more .section-boxes-hlist.collapsed {
        opacity: 0; }
        main .section-boxes-hlist > .section-list-more .section-boxes-hlist.collapsed ~ .fa-chevron-up:before {
          display: none; }
      main .section-boxes-hlist > .section-list-more .section-boxes-hlist.expanded {
        opacity: 1; }
        main .section-boxes-hlist > .section-list-more .section-boxes-hlist.expanded ~ .fa-chevron-down {
          display: none; }
  main section-status {
    font-size: 40em;
    text-align: center;
    display: block; }
    main section-status .fa-check-circle {
      color: #00C176; }
    main section-status .fa-close {
      color: #B90504; }
  main .main-section-info .info-skills-list > li.info-skill-item {
    font-size: 1.05em;
    font-weight: bold;
    /*border: 1px solid #DDD;
    background-color: #EEE;
    @include border-radius(5px);
    @include box-shadow(1px, 1px, 5px, 1px, #AAA);*/ }
  main .main-section-info .info-languages-list .lang-flag {
    float: left;
    height: 48px; }
  main .main-section-info .info-languages-list .lang-data {
    padding-top: 0.4em;
    padding-left: 0.8em;
    margin-left: 48px; }
  main .main-section-info .info-social-list li {
    font-size: 2em; }
    main .main-section-info .info-social-list li a {
      color: black; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  background: #E9E9E9;
  overflow-y: auto; }
  @media screen and (max-width: 800px) {
    body {
      font-size: 10px; } }

/**
 * LOADING CLASSES
 *********************************************/
.ajax {
  background-image: url("../../img/ajax.gif");
  background-position: center center;
  background-repeat: no-repeat; }
  .ajax > * {
    display: none; }

/**
 * EXPAND & COLLAPSE CLASSES
 *********************************************/
.collapsed,
.expanded {
  overflow-y: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.collapsed {
  max-height: 0; }

.expanded {
  max-height: 100vh; }

/**
 * FLOATING CLASSES
 *********************************************/
.float-container {
  overflow: hidden; }
  .float-container .left {
    float: left; }
  .float-container .right {
    float: right; }

/**
 * FOOTER
 *********************************************/
.footer {
  padding: 0.8em;
  right: 0;
  bottom: 0;
  position: fixed;
  color: black; }

/*# sourceMappingURL=general.css.map */
