<!DOCTYPE html>
<html ng-app="myself" ng-controller="NavigationController as navigation" lang="en">
	<head>
		<title>{{navigation.homeSection.title}}</title>
		
		<meta charset="UTF-8">
		<meta name="language" content="EN">

		<meta name="author" content="{{navigation.homeSection.title}}">
		<meta name="description" content="My personal website">
		<meta name="keywords" content="personal,resume,curriculum vitae,portfolio">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- CSS Files -->
		<link rel="stylesheet" type="text/css" href="styles/css/general.css" />
	</head>
	<body>

		<!-- Navigation Bar -->
		<nav class="navbar-top">
			<div class="navbar-header">
				<div ng-click="navigation.homeSection.show()" ng-cloak class="{{navigation.homeSection.linkClasses}}">
					<img class="author-picture" ng-src="{{navigation.homeSection.img}}">
					<a class="author-name" href="#/{{navigation.homeSection.id}}">{{navigation.homeSection.title}}</a>
				</div>
				<div class="navbar-menu"></div>
			</div>
			<div class="navbar-list">
				<ul class="navbar-items-left navbar-items-top">
					<navbar-item ng-repeat="section in navigation.infoSections"></navbar-item>
				</ul>
				<ul class="navbar-items-right navbar-items-bottom">
					<navbar-item ng-repeat="section in navigation.generalSections"></navbar-item>
				</ul>
			</div>
		</nav>

		<!-- Main Section -->
		<main ng-view></main>

		<!-- JavaScript Files -->
		<script type="text/javascript" src="js/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
	</body>
</html>