body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  border: 0;
  background: #E9E9E9;
  overflow-y: auto; }
  @media screen and (max-width: 800px) {
    body {
      font-size: 10px; } }

nav.navbar-top {
  height: 4.3em;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1.4em;
  position: fixed;
  background-color: #424242;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  z-index: 10000; }
  nav.navbar-top a, nav.navbar-top a:link, nav.navbar-top a:hover, nav.navbar-top a:visited {
    text-decoration: none;
    color: black; }
  nav.navbar-top .navbar-header .navbar-menu, nav.navbar-top .navbar-list ul li {
    border: 2px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }
  nav.navbar-top .navbar-header {
    width: 300px;
    height: 6.6em;
    padding: 1em 1.4em 0;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10001; }
    @media screen and (max-width: 800px) {
      nav.navbar-top .navbar-header {
        width: 100%; } }
    nav.navbar-top .navbar-header .navbar-item-info {
      cursor: pointer; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-header .navbar-item-info {
          float: left; } }
      nav.navbar-top .navbar-header .navbar-item-info .author-picture {
        width: 5em;
        border: 0.3em solid black;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        border-radius: 5em; }
      nav.navbar-top .navbar-header .navbar-item-info .author-name {
        font-size: 2em;
        font-weight: bold;
        font-style: none;
        margin-top: 5px;
        margin-left: 10px;
        vertical-align: top;
        display: inline-block;
        color: #BCBCBC; }
      nav.navbar-top .navbar-header .navbar-item-info:hover .author-name {
        color: #efefef; }
    nav.navbar-top .navbar-header .navbar-menu {
      width: 16px;
      height: 16px;
      padding: 2px;
      background-color: #E9E9E9;
      background-image: url("../../img/icon-menu.png");
      background-position: center center;
      background-repeat: no-repeat;
      display: none; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-header .navbar-menu {
          float: right;
          display: block; } }
  nav.navbar-top .navbar-list {
    width: auto;
    margin-left: 300px; }
    @media screen and (max-width: 800px) {
      nav.navbar-top .navbar-list {
        width: 300px;
        height: 100vh;
        top: 4.3em;
        left: 0;
        bottom: 0;
        margin: 0;
        position: absolute;
        background-color: #E9E9E9;
        -webkit-box-shadow: 8px 0 6px -6px #999;
        -moz-box-shadow: 8px 0 6px -6px #999;
        box-shadow: 8px 0 6px -6px #999;
        z-index: 9999;
        /*display: none;*/ } }
    nav.navbar-top .navbar-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-list ul {
          flex-direction: column;
          align-items: flex-start;
          position: absolute; } }
      nav.navbar-top .navbar-list ul.navbar-items-left {
        float: left;
        justify-content: flex-start; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul.navbar-items-left {
            float: none;
            top: 0;
            align-content: flex-start; } }
      nav.navbar-top .navbar-list ul.navbar-items-right {
        float: right;
        justify-content: flex-end; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul.navbar-items-right {
            float: none;
            bottom: 100vh;
            align-content: flex-end; } }
      nav.navbar-top .navbar-list ul li {
        font-weight: bold;
        line-height: 1em;
        padding: 4px 8px;
        border: 2px solid black;
        margin: 0 10px;
        display: inline-block;
        flex-grow: 1;
        align-self: center; }
        nav.navbar-top .navbar-list ul li.navbar-item-experience {
          background-color: #EDC951; }
        nav.navbar-top .navbar-list ul li.navbar-item-education {
          background-color: #00A0B0; }
        nav.navbar-top .navbar-list ul li.navbar-item-projects {
          background-color: #EB6841; }
        nav.navbar-top .navbar-list ul li.navbar-item-others {
          background-color: #CC333F; }
        nav.navbar-top .navbar-list ul li.navbar-item-about {
          background-color: #3D8AF7; }
  @media screen and (min-width: 800px) {
    nav.navbar-top .navbar-list, nav.navbar-top ul {
      height: 100%; } }

main {
  max-width: 700px;
  min-height: 100vh;
  padding: 4.3em 1.5em 0.5em;
  margin: 0 auto;
  background: #FFF;
  position: relative;
  -webkit-box-shadow: 0 0 6px 6px #DDD;
  -moz-box-shadow: 0 0 6px 6px #DDD;
  box-shadow: 0 0 6px 6px #DDD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ajax {
  background-image: url("../../img/ajax.gif");
  background-position: center center;
  background-repeat: no-repeat; }
  .ajax > * {
    display: none; }

/*# sourceMappingURL=general.css.map */
