nav.navbar-top, body {
  padding: 0;
  border: 0;
  margin: 0; }

nav.navbar-top {
  height: 4.3em;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #424242;
  z-index: 10000;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }
  nav.navbar-top a, nav.navbar-top a:link, nav.navbar-top a:hover, nav.navbar-top a:visited {
    text-decoration: none;
    color: #BCBCBC; }
  nav.navbar-top .navbar-header {
    float: left;
    width: 300px;
    height: 6.6em;
    padding: 1em 1.4em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 800px) {
      nav.navbar-top .navbar-header {
        float: none;
        width: 100%;
        top: 0;
        position: absolute; } }
    nav.navbar-top .navbar-header .navbar-item-info {
      height: 100%;
      cursor: pointer; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-header .navbar-item-info {
          float: left; } }
      nav.navbar-top .navbar-header .navbar-item-info a {
        position: relative;
        display: block;
        clear: both; }
        nav.navbar-top .navbar-header .navbar-item-info a .author-picture {
          float: left;
          width: 5em;
          height: 5em;
          border: 0.3em solid black;
          -webkit-border-radius: 5em;
          -moz-border-radius: 5em;
          border-radius: 5em;
          background-image: url("../../img/author-picture.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 5em;
          display: inline-block; }
        nav.navbar-top .navbar-header .navbar-item-info a .author-name {
          float: left;
          font-size: 1.9em;
          font-weight: bold;
          margin-top: 5px;
          margin-left: 10px;
          vertical-align: top;
          display: inline-block; }
        nav.navbar-top .navbar-header .navbar-item-info a.selected, nav.navbar-top .navbar-header .navbar-item-info a:hover {
          color: #3299BB; }
          nav.navbar-top .navbar-header .navbar-item-info a.selected .author-name, nav.navbar-top .navbar-header .navbar-item-info a:hover .author-name {
            text-shadow: 0px 1px 1px #222; }
          nav.navbar-top .navbar-header .navbar-item-info a.selected .author-picture, nav.navbar-top .navbar-header .navbar-item-info a:hover .author-picture {
            border-color: #22687f;
            -webkit-box-shadow: 0px 1px 1px 1px #222;
            -moz-box-shadow: 0px 1px 1px 1px #222;
            box-shadow: 0px 1px 1px 1px #222; }
    nav.navbar-top .navbar-header .navbar-menu {
      font-size: 14px;
      line-height: 1em;
      text-align: center;
      width: 16px;
      height: 16px;
      padding: 2px;
      border: 2px solid black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #E9E9E9;
      display: none;
      cursor: pointer; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-header .navbar-menu {
          float: right;
          display: block; } }
      nav.navbar-top .navbar-header .navbar-menu i {
        vertical-align: middle; }
  nav.navbar-top .navbar-list {
    width: auto;
    padding-right: 1.4em;
    margin-left: 300px; }
    @media screen and (max-width: 800px) {
      nav.navbar-top .navbar-list {
        width: 100%;
        padding: 3em 1.4em 1em;
        margin-top: 4.3em;
        margin-left: 0;
        background-color: #828282;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        z-index: 9999;
        overflow-y: hidden; }
        nav.navbar-top .navbar-list.collapsed, nav.navbar-top .navbar-list.expanded {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        nav.navbar-top .navbar-list.collapsed {
          max-height: 0;
          padding-top: 0;
          padding-bottom: 0; }
        nav.navbar-top .navbar-list.expanded {
          max-height: 100vh; } }
    nav.navbar-top .navbar-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center; }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-list ul {
          flex-direction: column;
          align-items: flex-start; } }
      nav.navbar-top .navbar-list ul.navbar-items-left {
        float: left;
        justify-content: flex-start; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul.navbar-items-left {
            float: none;
            align-content: flex-start; } }
      nav.navbar-top .navbar-list ul.navbar-items-right {
        float: right;
        justify-content: flex-end; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul.navbar-items-right {
            float: none;
            align-content: flex-end; } }
      @media screen and (max-width: 800px) {
        nav.navbar-top .navbar-list ul > navbar-item {
          width: 100%; }
          nav.navbar-top .navbar-list ul > navbar-item:last-child {
            border: 0; } }
      nav.navbar-top .navbar-list ul li {
        flex-grow: 1;
        align-self: center;
        cursor: pointer; }
        nav.navbar-top .navbar-list ul li a {
          font-weight: bold;
          line-height: 1em;
          display: block; }
        @media screen and (max-width: 800px) {
          nav.navbar-top .navbar-list ul li {
            margin: 0; }
            nav.navbar-top .navbar-list ul li.navbar-item-info a.selected {
              color: transparent; }
            nav.navbar-top .navbar-list ul li.navbar-item-experience a.selected {
              color: #55B34D; }
            nav.navbar-top .navbar-list ul li.navbar-item-education a.selected {
              color: #00B6C7; }
            nav.navbar-top .navbar-list ul li.navbar-item-projects a.selected {
              color: #FF8000; }
            nav.navbar-top .navbar-list ul li.navbar-item-lang a.selected {
              color: transparent; }
            nav.navbar-top .navbar-list ul li.navbar-item-about a.selected {
              color: #FFBF00; }
            nav.navbar-top .navbar-list ul li a {
              font-size: 1.5em;
              width: 100%;
              padding: 1em;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box; }
              nav.navbar-top .navbar-list ul li a.selected {
                background-color: #757575;
                text-shadow: 0px 1px 1px #222; } }
        @media screen and (min-width: 800px) {
          nav.navbar-top .navbar-list ul li {
            margin: 0 5px; }
            nav.navbar-top .navbar-list ul li.navbar-item-info a.selected, nav.navbar-top .navbar-list ul li.navbar-item-info a:hover {
              background-color: transparent; }
            nav.navbar-top .navbar-list ul li.navbar-item-experience a.selected, nav.navbar-top .navbar-list ul li.navbar-item-experience a:hover {
              background-color: #55B34D; }
            nav.navbar-top .navbar-list ul li.navbar-item-education a.selected, nav.navbar-top .navbar-list ul li.navbar-item-education a:hover {
              background-color: #00B6C7; }
            nav.navbar-top .navbar-list ul li.navbar-item-projects a.selected, nav.navbar-top .navbar-list ul li.navbar-item-projects a:hover {
              background-color: #FF8000; }
            nav.navbar-top .navbar-list ul li.navbar-item-lang a.selected, nav.navbar-top .navbar-list ul li.navbar-item-lang a:hover {
              background-color: transparent; }
            nav.navbar-top .navbar-list ul li.navbar-item-about a.selected, nav.navbar-top .navbar-list ul li.navbar-item-about a:hover {
              background-color: #FFBF00; }
            nav.navbar-top .navbar-list ul li a {
              padding: 6px 10px; }
              nav.navbar-top .navbar-list ul li a.selected, nav.navbar-top .navbar-list ul li a:hover {
                padding: 4px 8px;
                border: 2px solid black;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: black; } }
  @media screen and (min-width: 800px) {
    nav.navbar-top .navbar-list, nav.navbar-top ul {
      height: 100%; } }
  @media print {
    nav.navbar-top {
      display: none; } }

main {
  max-width: 700px;
  min-height: 100vh;
  padding: 4.3em 1.5em 0.5em;
  margin: 0 auto;
  background: #FFF;
  position: relative;
  -webkit-box-shadow: 0 0 6px 6px #DDD;
  -moz-box-shadow: 0 0 6px 6px #DDD;
  box-shadow: 0 0 6px 6px #DDD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  main h2 {
    font-size: 1.6em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  main h2:first-child {
    margin-top: 2em; }
  main a, main p, main li {
    font-size: 1.1em; }
  main span {
    font-size: inherit; }
  main a, main a:link, main a:hover, main a:visited {
    text-decoration: none;
    color: #0077b5; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  background: #E9E9E9;
  overflow-y: auto; }
  @media screen and (max-width: 800px) {
    body {
      font-size: 10px; } }

.ajax {
  background-image: url("../../img/ajax.gif");
  background-position: center center;
  background-repeat: no-repeat; }
  .ajax > * {
    display: none; }

.footer {
  padding: 0.8em;
  right: 0;
  bottom: 0;
  position: fixed;
  color: black; }

/*# sourceMappingURL=general.css.map */
