<section ng-cloak class="{{navigation.currentSection.contentClasses}}">
	
	<h2>Summary</h2>
	<p class="info-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta tempor urna, non dictum ipsum faucibus vitae. Donec pellentesque elit ante. Nunc nec egestas est. Quisque maximus odio nec felis luctus hendrerit. Nullam euismod enim faucibus lacinia elementum. Duis urna dui, rhoncus quis mi eu, molestie egestas velit. Quisque tincidunt erat nec ullamcorper sodales. Vestibulum magna quam, gravida ullamcorper eros eu, placerat finibus mauris. Praesent libero nisl, ultrices pharetra est id, ultrices malesuada orci. Vivamus gravida velit ut leo mattis molestie. Sed dolor leo, egestas eu elementum nec, commodo lacinia risus. Etiam et diam leo.</p>

	<h2>Languages</h2>
	<ul class="info-langs-list">
		<li class="lang-primary">
			<i class=""></i> <b>Portuguese</b> Native
		</li>
		<li>
			<i class=""></i> <b>English</b> Fluent
		</li>
	</ul>

	<h2>Skills</h2>
	<ul class="info-skills-list">
		<li>
			<i class=""></i> HTML5
		</li>
		<li>
			<i class=""></i> CSS3
		</li>
	</ul>

	<h2>Social</h2>
	<ul class="info-social-list">
		<li>
			<a href=""><i class="fa fa-linkedin-square"></i> LinkedIn</a>
		</li>
		<li>
			<a href=""><i class="fa fa-github"></i> Github</a>
		</li>
		<li>
			<a href=""><i class="fa fa-google-plus-square"></i> Google+</a>
		</li>
		<li>
			<a href=""><i class="fa fa-facebook-square"></i> Facebook</a>
		</li>
	</ul>

	<h2>Contacts</h2>


</section>