<section ng-hide="error" ng-cloak class="{{navigation.currentSection.contentClasses}}">

	<h2>Summary</h2>
	<text class="info-summary" data="info.summary"></text>

	<h2>Skills</h2>
	<ul class="info-skills-list section-boxes-hlist">
		<li ng-repeat="skill in info.skills | limitTo:15" class="info-skill-item list-item">
			<i class="fa fa-{{skill.code}}"></i> {{skill.name}}</a>
		</li>
		<li class="section-list-more" toggle-expand-collapse="infoSkillsList">
			<ul class="section-boxes-hlist" expand-collapse="infoSkillsList">
				<li ng-repeat="skill in info.skills | startOn:15" class="list-item">
					<i class="fa fa-{{skill.code}}"></i> {{skill.name}}</a>
				</li>
			</ul>
			<i class="fa fa-chevron-down"></i>
			<i class="fa fa-chevron-up"></i>
		</li>
	</ul>

	<h2>Languages</h2>
	<div class="info-languages-list section-simple-hlist">
		<div ng-repeat="lang in info.languages" class="{{(lang.level == 'native')? 'lang-primary' : ''}} info-lang-item list-item">
			<div class="lang-flag">
				<i class="flag flag-{{lang.code}}"></i>
			</div>
			<div class="lang-data">
				<div class="lang-name"><b>{{lang.name}}</b></div>
				<div class="lang-level">{{lang.level}}</div>
			</div>
		</div>
	</div>

	<h2>Social</h2>
	<ul class="info-social-list section-simple-hlist">
		<li ng-repeat="page in info.pages" class="info-social-item list-item">
			<a ng-href="{{page.url}}" target="_blank"><i class="fa {{page.icon}}"></i> {{page.name}}</a>
		</li>
	</ul>

	<h2>Contacts</h2>
	<div class="info-contacts section-simple-hlist">
		<div class="info-contacts-emails list-item">
			<h3>E-Mails</h3>
			<div ng-repeat="email in info.emails" class="info-contacts-email">
				<i class="fa fa-envelope"></i> <a ng-href="mailto:{{email.value}}" target="_blank">{{email.value}}</a>
			</div>
		</div>
		<div class="info-contacts-phones list-item">
			<h3>Phones</h3>
			<div ng-repeat="phone in info.phones" class="info-contacts-phone">
				<i class="fa fa-{{phone.type}}"></i> {{phone.value}}
			</div>
		</div>
	</div>
	
</section>
<section-status ng-show="error"></section-status>