@use '../../shared/anchor' as anchor;

.socialNetworkLink {
    @include anchor.colors(inherit);

    &Icon {
        &[data-icon='linkedin'] {
            color: theme(colors.linkedin);
        }

        &[data-icon='github-square'] {
            color: theme(colors.github);
        }

        &[data-icon='facebook-square'] {
            color: theme(colors.facebook);
        }

        &[data-icon='twitter-square'] {
            color: theme(colors.twitter);
        }
    }
}
