@use '../../shared/anchor' as anchor;
@use '../../shared/text' as text;

.extraSkills {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #444;

    &Button {
        background-color: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        font-size: 1rem;
        padding: 0;
        width: 100%;
    }

    &ButtonIconHide {
        display: none;
    }

    &Content {
        transition: height 200ms ease-in-out;
    }

    &ContentHide {
        height: 0;
        overflow: hidden;
    }
}

.language {
    align-items: center;
    display: flex;

    &Flag {
        margin-right: 0.5rem;
    }

    &Level {
        font-size: text.$small;
    }
}

.socialNetworkLink {
    @include anchor.colors(inherit);
    display: flex;
    align-items: center;
    text-decoration: none;

    &Icon {
        margin-right: 0.5rem;

        &[data-icon='linkedin'] {
            color: #007bb6;
        }

        &[data-icon='github-square'] {
            color: #000;
        }

        &[data-icon='google-plus-square'] {
            color: #dd4b39;
        }

        &[data-icon='facebook-square'] {
            color: #3b5998;
        }
    }
}
