$sidebarAnimationDuration: 400ms;
$sidebarZIndex: 1000;
$sidebarToggleZIndex: 2000;

$sidebarHSpacing: 1.5rem;
$sidebarVSpacing: 1rem;

$sidebarItemIconSize: 1.8rem;

$sidebarLinkHSpacing: $sidebarHSpacing;
$sidebarLinkVSpacing: .5rem;

$sidebarToggleButtonSpacing: .5rem;

$sidebarCollapsedWidth: $sidebarLinkHSpacing + $sidebarItemIconSize + $sidebarLinkHSpacing;
$sidebarExpandedWidth: 20rem;
