@mixin colors($normalColor, $hoverColor: null, $focusColor: null, $activeColor: null, $visitedColor: null) {
  @if not $hoverColor {
    $hoverColor: $normalColor;
  }

  @if not $focusColor {
    $focusColor: $normalColor;
  }

  @if not $activeColor {
    $activeColor: $normalColor;
  }

  @if not $visitedColor {
    $visitedColor: $normalColor;
  }

  &,
  &:link {
    color: $normalColor;
  }

  &:visited {
    color: $visitedColor;
  }

  // must be after :link and :visited in order to be effective
  &:hover {
    color: $hoverColor;
  }

  // must be after :hover in order to be effective
  &:focus {
    color: $focusColor;
  }

  // must be after :hover and :focus in order to be effective
  &:active {
    color: $activeColor;
  }
}

