nav.navbar-top {

	// Navbar Values
	$navbar-hpadding: 1.4em;
	$navbar-shadow-color: #999;
	$navbar-item-selected-shadow: #222;

	// Navbar Header Values
	$navbar-header-padding-top: 1em;
	$author-picture-size: 5em;
	$author-picture-border: 0.3em;

	// Navbar Items List Values
	$navbar-list-tpadding: ceil(abs($navbar-top-height - $navbar-header-padding-top - $author-picture-size - ($author-picture-border * 2)));

	height: $navbar-top-height;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: $navbar-background;
	z-index: $navbar-top-z-index;
	@include box-shadow(0, 8px, 6px, -6px, $navbar-shadow-color);
	@extend %contentOnly;

	@include anchor-styles($navbar-links-color);

	.navbar-header {
		float: left;
		width: $navbar-header-width;
		height: $author-picture-size + ($author-picture-border * 2) + $navbar-header-padding-top;
		padding: $navbar-header-padding-top $navbar-hpadding 0;
		@include box-sizing(border-box);

		@include apply-to-mobile {
			float: none;
			width: 100%;
			top: 0;
			position: absolute;
		}
		
		.navbar-item-info {
			height: 100%;
			cursor: pointer;

			@include apply-to-mobile {
				float: left;
			}

			a {
				position: relative;
				display: block;
				clear: both;

				.author-picture {
					float: left;
					width: $author-picture-size;
					height: $author-picture-size;
					border: $author-picture-border solid black;
					@include border-radius($author-picture-size);
					display: inline-block;
				}

				.author-name {
					float: left;
					font-size: 1.9em;
					font-weight: bold;
					margin-top: 5px;
					margin-left: 10px;
					vertical-align: top;
					display: inline-block;
				}

				&.selected,
				&:hover {
					color: $navbar-author-name-color;

					.author-name {
						text-shadow: 0px 1px 1px $navbar-item-selected-shadow;
					}

					.author-picture {
						border-color: darken($navbar-author-name-color, 15%);
						@include box-shadow(0px, 1px, 1px, 1px, $navbar-item-selected-shadow);
					}
				}
			}
		}

		.navbar-menu {
			font-size: 18px;
			padding: 0.15em;
			color: $navbar-links-color;
			display: none;
			cursor: pointer;

			@include apply-to-mobile {
				float: right;
				display: block;
			}
		}
	}

	.navbar-list {
		width: auto;
		padding-right: $navbar-hpadding;
		margin-left: $navbar-header-width;

		@include apply-to-desktop {
			&.collapsed {
				max-height: none;
				padding: inherit;
				overflow-y: auto;
				opacity: 1;
			}
		}

		@include apply-to-mobile {
			width: 100%;
			padding: $navbar-list-tpadding $navbar-hpadding 1em;
			margin-top: $navbar-top-height;
			margin-left: 0;
			background-color: $navbar-list-background;
			@include box-shadow(0, 8px, 6px, -6px, $navbar-shadow-color);
			@include box-sizing(border-box);
			z-index: $navbar-top-z-index - 1;

			&.collapsed {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			&.navbar-items-left {
				float: left;
				@include flex-container(row, nowrap, start, center, center, center, flex-start);

				@include apply-to-mobile {
					float: none;
					@include flex-container(column, nowrap, start, start, flex-start, flex-start, flex-start);
				}
			}

			&.navbar-items-right {
				float: right;
				@include flex-container(row, nowrap, end, center, center, center, flex-end);
				
				@include apply-to-mobile {
					float: none;
					@include flex-container(column, nowrap, end, start, flex-end, flex-start, flex-end);
				}
			}

			& > navbar-item {
				display: inline-block;

				@include apply-to-mobile {
					width: 100%;

					&:last-child {
						border: 0;
					}
				}
			}

			li {
				margin: 0;
				@include flex-item(center, 1);
				display: block;
				cursor: pointer;

				a {
					font-weight: bold;
					line-height: 1em;
					padding: 0 1em;
					display: block;
					@include box-sizing(border-box);
				}

				@each $page, $properties in $pages {
					&.navbar-item-#{$page} a:hover,
					&.navbar-item-#{$page} a.selected {
						color: map-get($properties, color);
						text-shadow: 0px 1px 1px $navbar-item-selected-shadow;
					}
				}
				
				@include apply-to-mobile {
					a {
						font-size: 1.5em;
						width: 100%;
						padding: 1em;

						&:hover,
						&.selected {
							background-color: $navbar-item-selected-background;
						}
					}				
				}
			}
		}
	}

	@include apply-to-desktop {
		.navbar-list, ul {
			height: 100%;
		}
	}

	@include apply-to-print {
		display: none;
	}
}