main {
	$main-page-bpadding: $default-line-height + ($footer-padding * 2);
	$main-page-shadow-color: #DDD;

	$section-simple-hlists-hpadding: 1.5em;
	$section-simple-hlists-vpadding: 0.5em;
	$section-simple-vlists-hpadding: 0.5em;
	$section-simple-vlists-vpadding: 1.5em;

	$flag-icon-size: 48px;

	background: $main-page-background;
	@include box-shadow(0 0 6px 6px $main-page-shadow-color);
	@include box-sizing(border-box);
	display: block;
	font-size: 1.1em;
	margin: 0 auto;
	max-width: $main-page-maxwidth;
	min-height: 100%; /* if browser doesn't support vh, this rule is applied instead */
	min-height: 100vh;
	padding: $main-page-tpadding 1.5em $main-page-bpadding;
	position: relative;


	/**
	 * GENERIC FIELDS
	 *********************************************/
	@include anchor-styles($main-page-links-color);

	section > *:first-child {
		margin-top: 2em;
	}

	#{$headings} {
		@include anchor-styles(inherit);
	}

	h2 {
		font-size: 1.6em;
		margin-bottom: 0.5em; 
		margin-top: 1em;
	}

	h3 {
		font-size: 1.3em;
		margin-bottom: 0.4em;
	}

	span {
		font-size: inherit;
	}

	text {
		display: block;
		text-align: justify;
	}

	form {
		@include box-sizing(border-box);
		margin: 0;
		padding: 0.5em;
		width: 100%;

		label {
			font-weight: bold;
			margin-bottom: 0.4em;

			&.full-line {
				display: block;

				&:after {
					content: ":";
				}
			}
		}

		input[type=text], input[type=checkbox] {
			margin-bottom: 1em;
		}

		input[type=text] {
			@include box-sizing(border-box);
			outline: 0;
			padding: 0.5em;
			width: 70%;
		}
	}

	youtube > iframe {
		height: 30em;
	}


	/**
	 * ICONS
	 *********************************************/
	.fa {
		&.fa-facebook-square {
			color: #3b5998;
		}

		&.fa-github-square {
			color: #000;
		}

		&.fa-google-plus-square {
			color: #dd4b39;
		}

		&.fa-linkedin-square {
			color: #007bb6;
		}
	}

	.flag {
		display: inline-block;
		height: $flag-icon-size;
		width: $flag-icon-size;

		&.flag-pt {
			@include background-image('flags/pt.png', center center, no-repeat);
		}

		&.flag-en {
			@include background-image('flags/en.png', center center, no-repeat);
		}
	}


	/**
	 * SECTIONS
	 *********************************************/
	.section-simple-hlist {
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		text-align: left;

		& > .list-item {
			display: inline-block;
			padding: $section-simple-hlists-vpadding $section-simple-hlists-hpadding;
		}

		& > .separator {
	 		margin: 1em 0;
	 		
	 		& > * {
	 			display: none;
	 		}
	 	}
	}

	.section-simple-vlist {
		list-style-type: none;
		margin: 0;
		padding: 0;

		& > .list-item {
			display: block;
			padding: $section-simple-vlists-vpadding $section-simple-vlists-hpadding;

			h2 {
	 			margin-top: 0;
	 		}

	 		.right img {
	 			max-height: 3em;
	 			max-width: 10em;
	 		}

	 		p:last-child {
	 			margin-bottom: 0;
	 		}
		}	
	}

	.section-boxes-hlist {
		@extend .section-simple-hlist;

		& > .list-item {
			margin: 0.5em;
			padding: 0.5em;
		}

		& > .section-list-more {
			background-color: #EEE;
			border: 1px solid #DDD;
			color: #888;
			cursor: pointer;
			text-align: center;

			.section-boxes-hlist {
				overflow: hidden;
				
				&.collapsed {
					@include opacity(0);
				}

				&.expanded {
					@include opacity(1);
				}
			}
		}
	}

	section-status {
		display: block;
		font-size: 40em;
		text-align: center;

		.fa-check-circle {
			color: #00C176;
		}

		.fa-close {
			color: #B90504;
		}
	}


	/**
	 * INFO SECTION
	 *********************************************/
	.main-section-info {

		.info-skills-list {

			& > li.info-skill-item {
				font-size: 1.05em;
				/*border: 1px solid #DDD;
				background-color: #EEE;
				@include border-radius(5px);
				@include box-shadow(1px 1px 5px 1px #AAA);*/
			}
		}

		.info-languages-list {
			.lang-flag {
				float: left;
				height: $flag-icon-size;
				width: $flag-icon-size;
			}

			.lang-data {
				margin-left: $flag-icon-size;
				padding-top: 0.4em;
				padding-left: 0.8em;
			}
		}

		.info-social-list .list-item {
			font-size: 2em;

			a {
				color: black;
			}
		}
	}


	/**
	 * ABOUT SECTION
	 *********************************************/
	 .main-section-about {

	 	.about-technologies-list {
	 		text-align: center;

	 		.list-item {

	 			img {
	 				display: block;
	 				margin: 0 auto;
	 				max-height: 4em;
	 			}
		 		
			 	@include anchor-styles(inherit);
		 	}
	 	}

	 	.about-credits-list {
	 		.list-item {
	 			float: left;
	 		}
	 	}
	 }

	@include apply-to-print {
		margin:0;
		max-width: none;
		padding:0;

		section > *:first-child {
			margin-top: 0;
		}
	}
}