%contentOnly {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin apply-to-desktop {
	@media screen and (min-width: $min-screen-width) {
		@content;
	}
}

@mixin apply-to-mobile {
	@media screen and (max-width: $min-screen-width) {
		@content;
	}
}

@mixin apply-to-print {
	@media print {
		@content;
	}
}

@mixin anchor-styles($color) {
	a, a:link, a:hover, a:visited {
		border: 0;
		text-decoration: none;
		color: $color;
	}
}

@mixin background-image($img, $position, $repeat) {
	background: {
		image: url($img-folder + $img);
		position: $position;
		repeat: $repeat;
	}
}

@mixin border-radius($radius:0) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-sizing($type) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}

@mixin box-shadow($hoffset:0, $voffset:0, $blur:0, $spread:0, $color:transparent) {
	$properties: $hoffset $voffset $blur $spread $color;
	$shadowType: $hoffset;

	@if type-of($hoffset) == list {
		$shadowType: nth($hoffset, 1);
	}

	@if $shadowType == none {
		$properties: $hoffset;
	}

	-webkit-box-shadow: $properties;
	-moz-box-shadow: $properties;
	box-shadow: $properties;
}

@mixin transition($attrs, $time, $type) {
	-webkit-transition: $attrs $time $type;
	-moz-transition: $attrs $time $type;
    -o-transition: $attrs $time $type;
    transition: $attrs $time $type;
}

@mixin flex-container($direction, $wrap, $flex-pack, $flex-align, $align-content, $align-items, $justify-content) {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: $direction;
	-moz-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
	-webkit-flex-wrap: $wrap;
	-moz-flex-wrap: $wrap;
	-ms-flex-wrap: $wrap;
	flex-wrap: $wrap;
	-webkit-align-content: $align-content;
	align-content: $align-content;
	-webkit-align-items: $align-items;
	align-items: $align-items;
	-webkit-justify-content: $justify-content;
	-moz-justify-content: $justify-content;
	justify-content: $justify-content;
	-ms-flex-align: $flex-align;
	-ms-flex-pack: $flex-pack;
}

@mixin flex-item($align, $grow) {
	-webkit-align-self: $align;
	-ms-flex-item-align: $align;
	align-self: $align;
	-webkit-flex-grow: $grow;
	-moz-flex-grow: $grow;
	flex-grow: $grow;
}