@charset "UTF-8";

@import "config";
@import "tools";

@import "navigation";
@import "pages";

body {
	font-family: $default-font-family;
	font-size: $default-font-size;
	line-height: $default-line-height;
	background: $body-background;
	overflow-y: auto;
	@extend %contentOnly;

	@include apply-to-mobile {
		font-size: $mobile-font-size;
	}
}


/**
 * LOADING CLASSES
 *********************************************/
.ajax {
	@include background-image('ajax.gif', center center, no-repeat);

	& > * {
		display: none;
	}
}


/**
 * EXPAND & COLLAPSE CLASSES
 *********************************************/
.collapsed,
.expanded {
	overflow-y: hidden;
	@include transition(all, 0.4s, ease-in-out);
}

.collapsed {
	max-height: 0;
}

.expanded {
	max-height: 100vh;
}


/**
 * FLOATING CLASSES
 *********************************************/
 .float-container {
 	overflow: hidden;

 	.left {
		float: left;
	}

	.right {
		float: right;
	}
 }

/**
 * FOOTER
 *********************************************/
.footer {
	padding: $footer-padding;
	right: 0;
	bottom: 0;
	position: fixed;
	color: black;
}