@charset "UTF-8";

@import "config";
@import "tools";

@import "navigation";
@import "sections";

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: $body-background;
	font-family: $default-font-family;
	font-size: $l-font-size;
	line-height: $default-line-height;
	overflow-y: auto;
	@extend %contentOnly;

	@include apply-to-m-screens {
		font-size: $m-font-size;
	}

	@include apply-to-print {
		background: white;
	}
}

img {
	border: 0;
}


/**
 * LOADING CLASSES
 *********************************************/
.ajax {
	@include background-image('ajax.gif', center center, no-repeat);

	& > * {
		display: none;
	}
}


/**
 * EXPAND & COLLAPSE CLASSES
 *********************************************/
.collapsed,
.expanded {
	overflow-y: hidden;
	@include transition(all, 0.4s, ease-in-out);

	@include apply-to-print {
		max-height: none !important;
		@include opacity(1 !important);
		
		& ~ .fa-chevron-up:before,
		& ~ .fa-chevron-down {
			display: none;
		}
	}
}

.collapsed {
	max-height: 0;

	& ~ .fa-chevron-up {
		display: none;
	}
}

.expanded {
	max-height: 100vh;

	& ~ .fa-chevron-down {
		display: none;
	}
}


/**
 * FLOATING CLASSES
 *********************************************/
 .float-container {
 	overflow: hidden;

 	.left {
		float: left;
	}

	.right {
		float: right;
	}
 }

/**
 * FOOTER
 *********************************************/
footer {
	bottom: 0;
	color: black;
	display: block;
	padding: $footer-padding;
	position: fixed;
	right: 0;
	text-shadow: 1px 1px #ccc;
}


@include apply-to-print {
	@page {
		size: auto;
		margin: 2cm 1cm;
	}

	* {
		@include box-shadow(none !important);
	}
}