@import '../../shared/grid';
@import '../Sidebar/vars';

.container {
  margin-left: $sidebarCollapsedWidth;
  padding: $sidebarVSpacing $sidebarHSpacing;
  transition: margin-left $sidebarAnimationDuration ease-in-out;

  &Collapsed {
    @include md-up {
      margin-left: $sidebarExpandedWidth;
    }
  }
}