@import '../../shared/grid';
@import '../Menu/vars';

.container {
  margin-left: $menuCollapsedWidth;
  min-height: 100vh;
  padding: $menuVSpacing $menuHSpacing;
  transition: margin-left $menuAnimationDuration ease-in-out;

  &Collapsed {
    @include md-up {
      margin-left: $menuExpandedWidth;
    }
  }
}