@import '../../shared/grid';
@import '../Menu/vars';

.container {
  margin-top: 3.5rem;
  min-height: 100vh;
  padding: $menuVSpacing * 2 $menuHSpacing;
  transition: margin-left $menuAnimationDuration ease-in-out;
}