<section ng-hide="error" ng-cloak class="{{navigationCtrl.currentSection.contentClasses}}">

	<div class="section-simple-vlist">
		<div ng-repeat="position in experience" class="experience-position-item list-item">
			<div class="float-container">
				<div class="left">
					<h2>{{position.title}}</h2>
					<a ng-href="{{position.institution.url}}" target="_blank">{{position.institution.name}}</a>, <span>{{ position.period | timeInterval }}</span>
				</div>
				<div class="right">
					<a ng-href="{{position.institution.url}}" target="_blank">
						<img ng-src="{{position.institution.logo}}" alt="{{position.institution.name}}">
					</a>
				</div>
			</div>
			<text data="position.summary"></text>
		</div>
	</div>

</section>
<section-status ng-show="error"></section-status>