<section ng-hide="error" ng-cloak class="{{navigationCtrl.currentSection.contentClasses}}">

	<h2>Goal</h2>
	<text class="about-goal" data="about.goal"></text>

	<h2>Technologies</h2>
	<text class="about-technologies" data="about.technologies.summary"></text>
	
	<div class="about-technologies-list section-simple-hlist">
		<h3>Client-side</h3>
		<div ng-repeat="tech in about.technologies.client" class="about-technology-item" ng-class="{ 'list-item' : {{!tech.separator}}, 'separator' : tech.separator }">
			<a ng-href="{{tech.url}}" target="_blank">
				<img class="technology-{{tech.id}}" ng-src="public/img/technologies/{{tech.id}}.png">
				<b>{{tech.desc}}</b>
			</a>
		</div>
	</div>

	
	<div class="about-technologies-list section-simple-hlist">
		<h3>Server-side</h3>
		<div ng-repeat="tech in about.technologies.server" class="about-technology-item" ng-class="{ 'list-item' : {{!tech.separator}}, 'separator' : tech.separator }">
			<a ng-href="{{tech.url}}" target="_blank">
				<img class="technology-{{tech.id}}" ng-src="public/img/technologies/{{tech.id}}.png">
				<b>{{tech.desc}}</b>
			</a>
		</div>
	</div>

	</div>

	<h2>Credits</h2>
	<div class="about-credits-list section-simple-hlist">
		<div class="about-credits-item list-item">
			<h3>Developers</h3>
			<div ng-repeat="developer in about.credits.developers"><a ng-href="{{developer.url}}" target="_blank">{{developer.name}}</a></div>
		</div>
		<div class="about-credits-item list-item">
			<h3>Designers</h3>
			<div ng-repeat="designer in about.credits.designers"><a ng-href="{{designer.url}}" target="_blank">{{designer.name}}</a></div>
		</div>
		<div class="about-credits-item list-item">
			<h3>Others</h3>
			<div ng-repeat="other in about.credits.others">
				<a ng-href="{{other.url}}" target="_blank">{{other.name}}</a>
				<span ng-show="other.desc"> - {{other.desc}}<span ng-show="other.item"> (<a ng-href="{{other.item.url}}" target="_blank">{{other.item.name}}</a>)</span>.</span>
			</div>
		</div>
	</div>

</section>
<section-status ng-show="error"></section-status>