<section ng-hide="error" ng-cloak class="{{navigationCtrl.currentSection.contentClasses}}">

	<div class="section-simple-vlist">
		<div ng-repeat="project in projects" class="project-item list-item">
			<div class="float-container">
				<div class="left">
					<h2><a ng-href="{{project.url}}" target="_blank">{{project.name}}</a></h2>
					<a ng-show="project.institution.url" ng-href="{{project.institution.url}}" target="_blank">{{project.institution.name}}</a>
				</div>
				<div class="right">
					<a ng-href="{{project.institution.url}}" target="_blank">
						<img ng-src="{{project.institution.logo}}" alt="{{project.institution.name}}">
					</a>
				</div>
			</div>
			<text data="project.desc"></text>
		</div>
	</div>

</section>
<section-status ng-show="error"></section-status>