@import './vars';

.container {
  background-color: $sidebarBg;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: $sidebarWidth;
}

.link {
  color: #333;
  display: block;
  text-decoration: none;

  &:link,
  &:hover,
  &:visited {
    color: #333;
  }
}

.activeLink {
  font-weight: 500;
}

.header {
  flex: 0 0 auto;
  padding-top: $sidebarSectionVSpacing;
  margin-bottom: $sidebarLinkVSpacing;
  text-align: center;

  &Link {
    padding: 0 $sidebarLinkHSpacing;
  }

  &Image {
    border: .25rem solid currentColor;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
  }

  &Heading {

  }
}

.nav {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  font-size: .8rem;
  margin-top: $sidebarLinkVSpacing;
  padding-bottom: $sidebarSectionVSpacing;
}

.footerList,
.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLink {
  padding: $sidebarLinkVSpacing $sidebarLinkHSpacing;

  &:not(.navActiveLink):hover {
    background-color: $sidebarLinkHoverBg;
  }
}

.navActiveLink {
  background-color: $sidebarLinkActiveBg;
}

.footerCopyright {
  padding: $sidebarLinkVSpacing $sidebarLinkHSpacing 0;
}

.footerLink {
  padding: $sidebarLinkVSpacing $sidebarLinkHSpacing;

  &:not(.footerActiveLink):hover {
    text-decoration: underline;
  }
}
