@use 'tailwindcss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@theme {
    --color-inherit: inherit;
    --color-current: currentColor;
    --color-transparent: transparent;
    --color-black: #000;
    --color-gray-1: #111;
    --color-gray-2: #222;
    --color-gray-3: #333;
    --color-gray-4: #444;
    --color-gray-5: #555;
    --color-gray-6: #666;
    --color-gray-7: #777;
    --color-gray-8: #888;
    --color-gray-9: #999;
    --color-gray-a: #aaa;
    --color-gray-b: #bbb;
    --color-gray-c: #ccc;
    --color-gray-d: #ddd;
    --color-gray-e: #eee;
    --color-white: #fff;
    --color-primary: #0077b5;
    --color-info: #3aa6cb;
    --color-experience: #1fe0ba;
    --color-education: #c6adf5;
    --color-projects: #efa96c;
    --color-about: #f1c40f;
    --color-linkedin: #007bb6;
    --color-github: #000;
    --color-facebook: #3b5998;
    --color-twitter: #1da1f2;

    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 980px;
    --screen-xl: 1200px;

    --spacing-auto: auto;
    --spacing-0: 0;
    --spacing-2xs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;
    --spacing-3xl: 5rem;
    --spacing-4xl: 6rem;
    --spacing-5xl: 7rem;
    --spacing-6xl: 8rem;
    --spacing-7xl: 9rem;
    --spacing-8xl: 10rem;

    --font-sans: 'Open Sans';
    --text-base: 1rem;
    --text-12xl: 12rem;

    --transition-property-h: height;
    --transition-property-margin-top: margin-top;
}
