@import '../../shared/anchor';

.tech {
  &Link {
    @include anchorColors(inherit);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  &Logo {
    max-height: 4rem;
  }

  &Name {
    margin-top: .2rem;
  }
}