<section ng-cloak class="{{navigation.currentSection.contentClasses}}">
	<h2>Connect to LinkedIn</h2>
	<form method="post" action="/linkedin/connect">
		<label for="apiKey" class="full-line">API Key</label>
		<input type="text" name="apiKey" required ng-model="linkedin.apiKey">
		<br/>
		<label for="apiSecret" class="full-line">API Secret</label>
		<input type="text" name="apiSecret" required ng-model="linkedin.apiSecret">
		<br/>
		<label for="oauthUserToken" class="full-line">OAuth User Token</label>
		<input type="text" name="oauthUserToken" required ng-model="linkedin.oauthUserToken">
		<br/>
		<input type="submit" ng-click="linkedin.connect()">
	</form>
</section>