@use 'shared/anchor' as anchor;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-y: scroll;
}

body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    @include anchor.colors(#0077b5);

    &:hover {
        text-decoration: none;
    }
}