@use 'shared/anchor' as anchor;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    @include anchor.colors(theme(colors.primary));

    &:hover {
        text-decoration: none;
    }
}
