// Fonts
$default-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$default-font-size: 12px;
$default-line-height: 1.5em;

// Dimensions
$navbar-top-height: 50px;
$navbar-header-width: 300px;
$main-page-width: 700px;

// Text Colors
$navbar-author-name-color: #BCBCBC;

// Backgrounds
$body-background: #E9E9E9;
$navbar-background: #424242;
$navbar-item-experience-background: #EDC951;
$navbar-item-education-background: #00A0B0;
$navbar-item-projects-background: #EB6841;
$navbar-item-others-background: #CC333F;
$navbar-item-about-background: #3D8AF7;
$main-page-background: #FFF;