// Fonts
$default-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$default-font-size: 12px;
$mobile-font-size: 10px;
$default-line-height: 1.5em;

// Directories
$img-folder: '../../img/';

// Dimensions
$min-screen-width: 800px;
$navbar-top-height: 4.3em;
$navbar-header-width: 300px;
$navbar-top-z-index: 10000;
$main-page-maxwidth: 700px;

// Text Colors
$navbar-author-name-color: #BCBCBC;

// Backgrounds
$body-background: #E9E9E9;
$navbar-background: #424242;
$navbar-item-experience-background: #EDC951;
$navbar-item-education-background: #00A0B0;
$navbar-item-projects-background: #EB6841;
$navbar-item-others-background: #CC333F;
$navbar-item-about-background: #3D8AF7;
$main-page-background: #FFF;