nav.navbar-top {

	// Navbar Values
	$navbar-hpadding: 1.4em;
	$navbar-shadow-color: #999;
	$navbar-item-selected-shadow: #222;

	// Navbar Header Values
	$navbar-header-padding-top: 1em;
	$author-picture-size: 5em;
	$author-picture-border: 0.3em;

	// Navbar Items List Values
	$navbar-list-tpadding: ceil(abs($navbar-top-height - $navbar-header-padding-top - $author-picture-size - ($author-picture-border * 2)));
	$navbar-items-vpadding: 6px;
	$navbar-items-hpadding: 10px;
	$navbar-items-border-width: 2px;

	height: $navbar-top-height;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: $navbar-background;
	z-index: $navbar-top-z-index;
	@include box-shadow(0, 8px, 6px, -6px, $navbar-shadow-color);
	@extend %contentOnly;

	@include anchor-styles($navbar-links-color);

	.navbar-header {
		float: left;
		width: $navbar-header-width;
		height: $author-picture-size + ($author-picture-border * 2) + $navbar-header-padding-top;
		padding: $navbar-header-padding-top $navbar-hpadding 0;
		@include box-sizing(border-box);

		@include apply-to-mobile {
			float: none;
			width: 100%;
			top: 0;
			position: absolute;
		}
		
		.navbar-item-info {
			height: 100%;
			cursor: pointer;

			@include apply-to-mobile {
				float: left;
			}

			a {
				position: relative;
				display: block;
				clear: both;

				.author-picture {
					float: left;
					width: $author-picture-size;
					height: $author-picture-size;
					border: $author-picture-border solid black;
					@include border-radius($author-picture-size);
					@include background-image('author-picture.jpg', center center, no-repeat);
					background-size: $author-picture-size;
					display: inline-block;
				}

				.author-name {
					float: left;
					font-size: 1.9em;
					font-weight: bold;
					margin-top: 5px;
					margin-left: 10px;
					vertical-align: top;
					display: inline-block;
				}

				&.selected,
				&:hover {
					color: $navbar-author-name-color;

					.author-name {
						text-shadow: 0px 1px 1px $navbar-item-selected-shadow;
					}

					.author-picture {
						border-color: darken($navbar-author-name-color, 15%);
						@include box-shadow(0px, 1px, 1px, 1px, $navbar-item-selected-shadow);
					}
				}
			}
		}

		.navbar-menu {
			$navbar-menu-size: 16px;
			font-size: 14px;
			line-height: 1em;
			text-align: center;
			width: $navbar-menu-size;
			height: $navbar-menu-size;
			padding: 2px;
			border: $navbar-items-border-width solid black;
			@include border-radius(5px);
			background-color: $body-background;
			display: none;
			cursor: pointer;

			@include apply-to-mobile {
				float: right;
				display: block;
			}

			i {
				vertical-align: middle;
			}
		}
	}

	.navbar-list {
		width: auto;
		padding-right: $navbar-hpadding;
		margin-left: $navbar-header-width;

		@include apply-to-mobile {
			width: 100%;
			padding: $navbar-list-tpadding $navbar-hpadding 1em;
			margin-top: $navbar-top-height;
			margin-left: 0;
			background-color: $navbar-list-background;
			@include box-shadow(0, 8px, 6px, -6px, $navbar-shadow-color);
			z-index: $navbar-top-z-index - 1;
			overflow-y: hidden;

			&.collapsed,
			&.expanded {
				@include transition(all, 0.5s, ease-in-out);
			}

			&.collapsed {
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
			}

			&.expanded {
				max-height: 100vh;
			}
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;

			@include apply-to-mobile {
				flex-direction: column;
				align-items: flex-start;
			}

			&.navbar-items-left {
				float: left;
				justify-content: flex-start;
				@include apply-to-mobile {
					float: none;
					align-content: flex-start;
				}
			}

			&.navbar-items-right {
				float: right;
				justify-content: flex-end;
				@include apply-to-mobile {
					float: none;
					align-content: flex-end;
				}
			}

			& > navbar-item {
				@include apply-to-mobile {
					width: 100%;
					//border-bottom: 1px solid lighten($navbar-list-background, 8%);

					&:last-child {
						border: 0;
					}
				}
			}

			li {
				flex-grow: 1;
				align-self: center;
				cursor: pointer;

				a {
					font-weight: bold;
					line-height: 1em;
					display: block;
				}
				
				@include apply-to-mobile {
					margin: 0;

					@each $page, $properties in $pages {
						&.navbar-item-#{$page} a.selected {
							color: map-get($properties, color);
						}
					}

					a {
						font-size: 1.5em;
						width: 100%;
						padding: 1em;
						@include box-sizing(border-box);

						&.selected {
							background-color: $navbar-item-selected-background;
							text-shadow: 0px 1px 1px $navbar-item-selected-shadow;
						}
					}					
				}

				@include apply-to-desktop {
					margin: 0 5px;

					@each $page, $properties in $pages {
						&.navbar-item-#{$page} a.selected,
						&.navbar-item-#{$page} a:hover {
							background-color: map-get($properties, color);
						}
					}

					a {
						padding: $navbar-items-vpadding $navbar-items-hpadding;

						&.selected,
						&:hover {
							padding: ($navbar-items-vpadding - $navbar-items-border-width) ($navbar-items-hpadding - $navbar-items-border-width);
							border: $navbar-items-border-width solid black;
							@include border-radius(5px);
							color: black;
						}
						
					}
				}
			}
		}
	}

	@include apply-to-desktop {
		.navbar-list, ul {
			height: 100%;
		}
	}

	@media print {
		display: none;
	}
}