main {
	$main-page-shadow-color: #DDD;
	max-width: $main-page-maxwidth;
	min-height: 100vh;
	padding: $main-page-tpadding 1.5em 0.5em;
	margin: 0 auto;
	background: $main-page-background;
	position: relative;
	@include box-shadow(0, 0, 6px, 6px, $main-page-shadow-color);
	@include box-sizing(border-box);

	h2 {
		font-size: 1.6em;
		margin-top: 1em;
		margin-bottom: 0.5em; 
	}

	h2:first-child {
		margin-top: 2em;
	}

	a, p, li {
		font-size: 1.1em;
	}

	span {
		font-size: inherit;
	}

	@include anchor-styles($main-page-links-color);
}