<section ng-hide="error" ng-cloak class="{{navigation.currentSection.contentClasses}}">

	<h2>{{navigation.currentSection.title}}</h2>

	<div class="section-simple-vlist">
		<div ng-repeat="degree in education" class="education-degree-item list-item">
			<div class="float-container">
				<div class="left">
					<h3>{{degree.degree + ' in ' + degree.field}}</h3>
					<a ng-href="{{degree.institution.url}}" target="_blank">{{degree.institution.name}}</a>, <span>{{ degree.period | timeInterval }}</span>
				</div>
				<div class="right">
					<a ng-href="{{degree.institution.url}}" target="_blank">
						<img ng-src="{{degree.institution.logo}}" alt="{{degree.institution.name}}">
					</a>
				</div>
			</div>
			<text data="degree.summary"></text>
		</div>
	</div>

</section>
<section-status ng-show="error"></section-status>