<section ng-hide="error" ng-cloak class="{{navigationCtrl.currentSection.contentClasses}}">

	<div class="section-simple-vlist">
		<div ng-repeat="degree in education" class="education-degree-item list-item">
			<div class="float-container">
				<div class="left">
					<h2>{{degree.degree + ' in ' + degree.field}}</h2>
					<a ng-href="{{degree.institution.url}}" target="_blank">{{degree.institution.name}}</a>, <span>{{ degree.period | timeInterval }}</span>
				</div>
				<div class="right">
					<a ng-href="{{degree.institution.url}}" target="_blank">
						<img ng-src="{{degree.institution.logo}}" alt="{{degree.institution.name}}">
					</a>
				</div>
			</div>
			<text data="degree.summary"></text>
		</div>
	</div>

</section>
<section-status ng-show="error"></section-status>