@use 'sass:math';
@use '../../shared/anchor' as anchor;
@use '../../shared/color' as color;
@use '../../shared/grid' as grid;
@use '../../shared/text' as text;
@use './vars' as menu;

.container {
    background-color: color.$gray3;
    color: color.$white;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: menu.$vSpacing menu.$hSpacing;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    @include grid.md-up {
        flex-direction: row;
    }
}

.toggleButton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    padding: menu.$toggleButtonSpacing;

    @include grid.md-up {
        display: none;
    }
}

.header {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;

    &Image {
        border: menu.$headerPictureBorderSize solid currentColor;
        border-radius: 50%;
        height: menu.$headerPictureSize;
        width: menu.$headerPictureSize;
    }

    &Heading {
        font-size: 1rem;
        margin: 0 0 0 menu.$itemHSpacing;
    }
}

.nav {
    flex: 1 0 auto;

    .containerCollapsed & {
        height: 0;
        overflow: hidden;

        @include grid.md-up {
            height: auto;
            overflow: visible;
        }
    }
}

.list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    @include grid.md-up {
        flex-direction: row;
    }
}

.separator {
    flex: 1 0 auto;
}

.item {
    align-items: center;
    display: flex;
    margin: 0 menu.$itemHSpacing;
    padding: menu.$itemVSpacing menu.$itemHSpacing menu.$itemVSpacing 0;

    &Icon {
        align-items: center;
        display: flex;
        height: menu.$headerPictureSize;
        justify-content: center;
        width: menu.$headerPictureSize;
    }

    &Name {
        margin-left: math.div(menu.$itemHSpacing, 2);
        white-space: nowrap;
    }

    &Hover:hover {
        background-color: color.$gray4;
    }
}

.link {
    @include anchor.colors(inherit);
    text-decoration: none;

    &Home {
        @include anchor.colors(#3aa6cb);
    }

    &Experience {
        @include anchor.colors(#1fe0ba);
    }

    &Education {
        @include anchor.colors(#c6adf5);
    }

    &Projects {
        @include anchor.colors(#efa96c);
    }

    &About {
        @include anchor.colors(#f1c40f);
    }
}
