@import '../../shared/anchor';
@import '../../shared/color';
@import '../../shared/grid';
@import '../../shared/text';
@import './vars';

.container {
  background-color: $gray3;
  color: $white;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: $menuVSpacing $menuHSpacing;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  @include md-up {
    flex-direction: row;
  }
}

.toggleButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: $menuToggleButtonSpacing;

  @include md-up {
    display: none;
  }
}

.header {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  &Image {
    border: $menuHeaderPictureBorder solid currentColor;
    border-radius: 50%;
    height: $menuHeaderPictureSize;
    width: $menuHeaderPictureSize;
  }

  &Heading {
    font-size: 1rem;
    margin: 0 0 0 $menuItemHSpacing;
  }
}

.nav {
  flex: 1 0 auto;
    
  .containerCollapsed & {
    height: 0;
    overflow: hidden;
      
    @include md-up {
      height: auto;
      overflow: visible;
    }
  }
}

.list {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
    
  @include md-up {
    flex-direction: row;    
  }
}

.separator {
  flex: 1 0 auto;
}

.item {
  align-items: center;
  display: flex;
  margin: 0 $menuItemHSpacing;
  padding: $menuItemVSpacing $menuItemHSpacing $menuItemVSpacing 0;
    
  &Icon {
    align-items: center;
    display: flex;
    height: $menuHeaderPictureSize;
    justify-content: center;
    width: $menuHeaderPictureSize; 
  }

  &Name {
    margin-left: $menuItemHSpacing / 2;
    white-space: nowrap;
  }

  &Hover:hover {
    background-color: $gray4;
  }
}

.link {
  @include anchorColors(inherit);
  text-decoration: none;

  &Home {
    @include anchorColors(#3aa6cb);
  }

  &Experience {
    @include anchorColors(#1fe0ba);
  }

  &Education {
    @include anchorColors(#c6adf5);
  }

  &Projects {
    @include anchorColors(#efa96c);
  }

  &About {
    @include anchorColors(#f1c40f);
  }
}
