@import '../../shared/anchor';
@import '../../shared/color';
@import '../../shared/text';
@import './vars';

.container {
  background-color: $gray3;
  bottom: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding: $menuVSpacing 0;
  position: fixed;
  top: 0;
  transition: width $menuAnimationDuration ease-in-out;
  z-index: 1;

  &Collapsed {
    width: $menuCollapsedWidth;
  }

  &Expanded {
    width: $menuExpandedWidth;
  }
}

.toggleButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 $menuLinkHSpacing - $menuToggleButtonSpacing;
  padding: $menuToggleButtonSpacing;

  .containerCollapsed & {
    align-self: center;
  }

  .containerExpanded & {
    align-self: flex-start;
  }
}

.header {
  flex: 0 0 auto;
  margin-bottom: $menuVSpacing;
  position: relative;

  &Link {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &Image {
    border: $menuHeaderPictureBorder solid currentColor;
    border-radius: 50%;
    height: $menuHeaderPictureSize;
    width: $menuHeaderPictureSize;

    .containerCollapsed & {
      height: $menuHeaderPictureBorder + $menuItemIconSize;
      width: $menuHeaderPictureBorder + $menuItemIconSize;
    }
  }

  &Heading {
    margin: $menuVSpacing 0 0;
    white-space: nowrap;

    .containerCollapsed & {
      display: none;
    }
  }
}

.nav {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  margin-top: $menuVSpacing;

  .itemName {
    font-size: $tinyText;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  padding: $menuLinkVSpacing $menuLinkHSpacing;

  &Name {
    margin-left: $menuLinkHSpacing;
    white-space: nowrap;

    .containerCollapsed & {
      display: none;
    }
  }

  &Active {
    background-color: $gray48;
  }

  &Hover:not(&Active):hover {
    background-color: $gray4;
  }
}

.link {
  @include anchorColors(inherit);
  text-decoration: none;

  &Home {
    @include anchorColors(#3aa6cb);
  }

  &Experience {
    @include anchorColors(#1fe0ba);
  }

  &Education {
    @include anchorColors(#c6adf5);
  }

  &Projects {
    @include anchorColors(#efa96c);
  }

  &About {
    @include anchorColors(#f1c40f);
  }
}
