$menuAnimationDuration: 400ms;
$menuZIndex: 1000;

$menuHSpacing: 1rem;
$menuVSpacing: .5rem;

$menuItemHSpacing: .5rem;
$menuItemVSpacing: .25rem;
$menuItemIconSize: 1.25rem;

$menuToggleButtonSpacing: .5rem;

$menuHeaderPictureBorder: .2rem;
$menuHeaderPictureSize: 2rem;
