$animationDuration: 400ms;

$hSpacing: 1rem;
$vSpacing: .5rem;

$itemHSpacing: .5rem;
$itemVSpacing: .25rem;
$itemIconSize: 1.25rem;

$toggleButtonSpacing: .5rem;

$headerPictureBorderSize: .2rem;
$headerPictureSize: 2rem;
